*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
} 

html{
    scroll-behavior:smooth;
}

body{
    background: #f5f5f5;
}

.navbar{
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #00bfff;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 30px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #00bfff;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 20px;
}

.hero h1{
    font-size:65px;
    max-width:900px;
    margin:0 auto 25px;
    line-height:1.2;
}

.hero p{
    font-size: 24px;
    margin-bottom: 35px;
}

.hero button{
    background: #00bfff;
    color: white;
    padding: 16px 40px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover{
    background: #008ecc;
    transform: scale(1.05);
}

.products{
    padding: 90px 40px;
    text-align: center;
}

.products h2{
    font-size: 40px;
    margin-bottom: 40px;
}
.search-box{
    margin-bottom:40px;
}

.search-box input{
    width:100%;
    max-width:500px;
    padding:15px 20px;
    font-size:18px;
    border:2px solid #00bfff;
    border-radius:30px;
    outline:none;
    transition:0.3s;
}

.search-box input:focus{
    border-color:#0066ff;
    box-shadow:0 0 10px rgba(0,191,255,0.3);
}

.no-results{
    display:none;
    font-size:20px;
    color:#666;
    margin-bottom:30px;
    font-weight:bold;
}

.product-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product-card{
    background: white;
    width: 270px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position:relative;

    display:flex;
    flex-direction:column;
}

.badge{
    position:absolute;
    top:15px;
    left:15px;
    background:#00bfff;
    color:white;
    padding:6px 15px;
    border-radius:20px;
    font-size:14px;
    font-weight:bold;
}

.best-seller{
    background:#ff9800;
}

.new{
    background:#28a745;
}

.hot{
    background:#e63946;
}

.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.product-card img{
    width:100%;
    height:200px;
    object-fit:contain;
    padding:10px;
    border-radius:10px;
    transition:0.3s ease;
}

.product-card:hover img{
    transform:scale(1.08);
}

.product-card h3{
    margin: 15px 0;
}

.product-card p{
    font-size: 22px;
    color: #0066ff;
    margin-bottom: 15px;
}

.product-card button{
    width:100%;
    background:#0066ff;
    color:white;
    border:none;
    padding:14px;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    transition:0.3s;

    margin-top:auto;
}

.product-card button:hover{
    background:#0048b5;
    transform:translateY(-3px);
}

.hero button,
.product-card button{
    font-weight:bold;
}


.categories{
    padding:70px 40px;
    text-align:center;
    background:white;
}

.categories h2{
    font-size:40px;
    margin-bottom:40px;
}

.category-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}


    


.category-card{
    width:250px;
    min-height:350px;
    background:#f5f5f5;
    padding:25px 20px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
    transition:0.3s;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    text-align:center;
}
    
.category-card:hover{
    transform:translateY(-10px);
}

.category-image{
    width:120px;
    height:120px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}


.category-image img{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}

.about{
    padding:70px 40px;
    text-align:center;
    background:#f5f5f5;
}

.about h2{
    font-size:40px;
    margin-bottom:25px;
    color:#0066ff;
}

.about p{
    max-width:900px;
    margin:15px auto;
    font-size:18px;
    line-height:1.7;
}
.contact{
    padding:70px 40px;
    text-align:center;
    background:white;
}

.contact h2{
    font-size:40px;
    margin-bottom:20px;
    color:#0066ff;
}

.contact p{
    font-size:18px;
    margin:15px 0;
}

.whatsapp{
    display:inline-block;
    margin-top:20px;
    background:#25D366;
    color:white;
    padding:15px 35px;
    border-radius:30px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.whatsapp:hover{
    transform:scale(1.05);
}

.product-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
    z-index:2000;
}

.modal-content{
    background:white;
    width:90%;
    max-width:450px;
    padding:30px;
    border-radius:20px;
    text-align:center;
    position:relative;
}
 /* Cart Modal */

.cart-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
    z-index:2000;
}


.cart-content{
    background:white;
    width:90%;
    max-width:450px;
    padding:30px;
    border-radius:20px;
    text-align:center;
    position:relative;
}


.cart-content h2{
    color:#0066ff;
    margin-bottom:20px;
}


#cart-items{
    margin:20px 0;
}


#cart-items p{
    font-size:18px;
}


.cart-content h3{
    margin:20px 0;
}


.checkout-btn{
    background:#00bfff;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}


.checkout-btn:hover{
    background:#008ecc;
}


.close-cart{
    position:absolute;
    top:10px;
    right:20px;
    font-size:35px;
    cursor:pointer;
}
.modal-content img{
    width:250px;
    height:250px;
    object-fit:contain;
}

.modal-content h2{
    margin:20px 0 10px;
    color:#0066ff;
}

.modal-content p{
    font-size:18px;
    margin:10px 0;
}

.close-modal{
    position:absolute;
    top:10px;
    right:20px;
    font-size:35px;
    cursor:pointer;
}


.footer{
    background: #111;
    color: white;
    text-align: center;
    padding:40px;
    margin-top:60px;
}

.footer h3{
    color: #00bfff;
    margin-bottom: 10px;
}


/* Cart Items */

.cart-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:15px;
    padding:15px 0;
    border-bottom:1px solid #ddd;
}

.cart-item p{
    margin:0;
    font-size:16px;
}


/* Quantity Controls */

.quantity-controls{
    display:flex;
    align-items:center;
    gap:10px;
}

.quantity-controls button{
    width:30px;
    height:30px;
    border:none;
    border-radius:50%;
    background:#00bfff;
    color:white;
    font-size:20px;
    cursor:pointer;
}

.quantity-controls button:hover{
    background:#008ecc;
}

.quantity-controls span{
    font-weight:bold;
    font-size:18px;
}


/* Remove Button */

.remove-item{
    background:#e63946;
    color:white;
    border:none;
    padding:7px 12px;
    border-radius:5px;
    cursor:pointer;
}

.remove-item:hover{
    background:#b71c1c;
}

/* Mobile Phone Layout */
@media (max-width: 768px){

    .navbar{
        padding: 12px 10px;
        flex-direction: column;
        gap: 10px;
    }

    .logo{
        font-size: 20px;
        text-align: center;
    }

    .nav-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
        margin-top: 10px;
    }

    .nav-links li{
        margin-left: 0;
    }

    .nav-links a{
        font-size: 13px;
    }


.hero{
        padding: 100px 20px;
    }

    .hero h1{
        font-size: 36px;
        line-height: 1.2;
    }

    .hero p{
        font-size: 18px;
    }

    .categories,
    .products,
    .about,
    .contact{
        padding: 60px 20px;
    }

    .categories h2,
    .products h2{
        font-size: 32px;
    }

    .category-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.category-card{
    width: 100%;
    min-height: 280px;
    padding: 15px 10px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.product-card{
    width: 100%;
    padding: 12px 8px;
}

.product-card img{
    height: 140px;
}

.product-card h3{
    font-size: 15px;
    margin: 10px 0;
}

.product-card p{
    font-size: 17px;
}

.product-card button{
    padding: 10px 5px;
    font-size: 14px;
}

    .about h2,
    .contact h2{
        font-size: 30px;
    }

    .about p,
    .contact p{
        font-size: 16px;
    }

    .cart-content{
        width: 95%;
        max-height: 90vh;
        overflow-y: auto;
    }

    .cart-item{
        flex-direction: column;
        gap: 10px;
    }

    .quantity-controls{
        justify-content: center;
    }


}


